:root {
    --c1: #8c8cf0;
    --c2: #f0f08c;
    --c3: #8cf08c;
    --cc1: #c384f8; /*#738ed9 #f3d990*/
    --cc2: #a7f884;
    --cc3: #84f8c6;
    --bground: #030309;
    --txt: #F9F9FE;
    --txt-secondary: #999;
    --nav-color: rgb(12, 12, 18);
    --transparent-color: rgb(54 54 56 / 10%);
    --border-color: solid 1px #999;
    --svg: invert(100%);
    --padding-inline: 3rem;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Basic Styles */
body {
    background-color: var(--bground);
    font-family: var(--font-family);
    line-height: 1.6;
}

h1 {
    font: normal 600 2rem Source sans pro, var(--font-family);
    color: var(--txt);
    margin-bottom: 25px;
}

ul { list-style-type: none; }

a {
    text-decoration: none;
    color: var(--txt);
}

p { color: var(--txt-secondary); }

.text-color {
    color: var(--bg);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.grid-auto {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 40px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    filter: var(--svg);
}

svg:hover {
    transform: scale(1.2);
}

/*------------- Navbar --------------*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 0.4rem var(--padding-inline);
    background-color: var(--nav-color);
}

.navbar ul {
    display: flex;
    gap: 2.1rem;
}

.navbar ul a:hover {
    border-bottom: solid 2px var(--c1);
}

.navbar ul button {
    background-color: var(--nav-color);
    color: var(--txt);
    border: var(--border-color);
    padding-inline: 5px;
    border-radius: 0.5rem;
}

/*------------- Header ----------------*/
.header {
    background: linear-gradient(10deg, var(--nav-color) 50%, var(--bground) 50%);
}

.header .b-profile {
    width: 14rem;
    height: 14rem;
    background-color: var(--transparent-color);
    border-radius: 100%;
}

.header .b-profile-repeat, .image-profile {
    width: 80%; height: 80%;
    border: solid 1px #333;
    border-radius: 100%;
}

.header .b-profile-repeat {
    background-color: var(--transparent-color);
}

.header .image-profile {
    background: url(../recursos/img/569.jpg);
    background-size: 100%;
}

.header .principal {
    width: 100%;
    flex-direction: column;
}

/*------------- Main -----------------*/
.header, section {
    padding: 2.3rem var(--padding-inline);
}

section .line {
    width: 9rem;
    height: 2px;
    background: var(--bg);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
    padding: 30px 20px 30px 20px;
    border: var(--border-color);
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.card:hover {
    transform: scale(1.1);
    background-color: var(--transparent-color);
    border-color: white;
}

#projects, #contacto {
    margin: var(--padding-inline);
    background-color: var(--transparent-color);
    border: solid 1px #555;
    border-radius: 7px;
}

.btn .btn-content {
    width: 7.9rem;
    background-clip: padding-box;
    background-color: var(--bground);
    color: var(--txt);
    border: 1px solid transparent;
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.btn .button-bg {
    height: 1.8rem;
    z-index: -2;
}

.btn .button-bg:before {
    border: 12px solid transparent;
    background-clip: padding-box;
    filter: blur(36px);
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.btn .button-bg, .btn .button-bg:before {
    position: absolute;
    width: 8rem;
    content: "";
    background-image: linear-gradient(
        165deg,
        var(--start-color),
        var(--end-color)
    );
}

.btn .bg-1 {
    -webkit-animation: background-1 8s infinite;
    animation: background-1 8s infinite;
}

.btn .bg-1, .btn .bg-1:before {
    --start-color: var(--c1);
    --end-color: var(--cc1);
}

.btn .bg-2 {
    -webkit-animation: background-2 8s infinite;
    animation: background-2 8s infinite;
}

.btn .bg-2, .btn .bg-2:before {
    --start-color: var(--c2);
    --end-color: var(--cc2);
}

.btn .bg-3 {
    -webkit-animation: background-3 8s infinite;
    animation: background-3 8s infinite;
}

.btn .bg-3, .btn .bg-3:before {
    --start-color: var(--c3);
    --end-color: var(--cc3);
}

@-webkit-keyframes background-1 {
    0%,
    16.667%,
    to {
      opacity: 1;
    }
    33%,
    83.333% {
      opacity: 0;
    }
}

@keyframes background-1 {
    0%,
    16.667%,
    to {
      opacity: 1;
    }
    33%,
    83.333% {
      opacity: 0;
    }
}

@-webkit-keyframes background-2 {
    0%,
    16.667%,
    66.667%,
    to {
      opacity: 0;
    }
    33.333%,
    50% {
      opacity: 1;
    }
}

@keyframes background-2 {
    0%,
    16.667%,
    66.667%,
    to {
      opacity: 0;
    }
    33.333%,
    50% {
      opacity: 1;
    }
}

@-webkit-keyframes background-3 {
    0%,
    50%,
    to {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
}

@keyframes background-3 {
    0%,
    50%,
    to {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
}

/*------------- Footer ---------------*/
.footer {
    padding: var(--padding-inline);
    border-top: var(--border-color);
}

.footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer li {
    margin-right: 1rem;
}

.footer a {
    font-size: 13px;
}

.footer a:hover {
    text-decoration: underline;
}

/*--------- Responsive design --------*/
@media (max-width: 700px) {
    :root {
        --padding-inline: 2rem;
    }
    .header .principal {
        height: 20rem;
    }
    #projects {
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .card:hover {
        transform: none;
    }
}

.oscuro {
    --bground: #fbfbfa;
    --txt: #030409;
    --txt-secondary: #444;
    --nav-color: #e2e2dd;
    --c1: #101010;
    --svg: invert(20%);
    --transparent-color: #f2f2f0;
}